/* ||||||||||||| MAIN ||||||||||||| */
/* ====== Font ====== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/* ====== Wrapper ====== */
.xpanda { font-family: 'Open Sans', sans-serif; max-width: 768px; }

/* ====== Item Row Wrapper ====== */
.x-item-wrap { z-index: 1; }

/* ====== Item - Javascript Enabled ====== */
.x-initiated .x-item.x-black { background: #191919; }
.x-initiated .x-item.x-white { background: #f5f5f5; }
.x-initiated .x-item.x-yellow { background: #FDD454; }
.x-initiated .x-item > a { text-decoration: none; position: relative; width: 100%; height: 100%; float: left; }
.x-initiated .x-item > a img { width: 50%; }
.x-initiated .x-item[data-group="1"] > a img,
.x-initiated .x-item[data-group="3"] > a img,
.x-initiated .x-item[data-group="5"] > a img,
.x-initiated .x-item[data-group="7"] > a img { float: right; }
.x-initiated .x-item[data-group="2"] > a img,
.x-initiated .x-item[data-group="4"] > a img,
.x-initiated .x-item[data-group="6"] > a img,
.x-initiated .x-item[data-group="8"] > a img { float: left; }

.x-initiated .x-item .x-thumbnail-content { position: absolute; width: calc(50% - 20px); text-align: center; top: 50%; padding: 10px; color: #191919;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.x-initiated .x-item.x-black .x-thumbnail-content { color: #f5f5f5; }
.x-initiated .x-item[data-group="2"] .x-thumbnail-content,
.x-initiated .x-item[data-group="4"] .x-thumbnail-content,
.x-initiated .x-item[data-group="6"] .x-thumbnail-content,
.x-initiated .x-item[data-group="8"] .x-thumbnail-content { right: 0; }
.x-initiated .x-item .x-thumbnail-content:before { content: ''; width: 40px; height: 4px; background: #191919; position: absolute; top: 10px; left: calc(50% - 20px); }
.x-initiated .x-item .x-thumbnail-content h5 { font-family: 'Amatic SC', cursive; font-size: 40px; margin: 24px 0 14px 0; }
.x-initiated .x-item .x-thumbnail-content p { font-weight: 300; font-size: 12px; margin: 0; }
.x-initiated .x-item.x-black .x-thumbnail-content:before { background: #f5f5f5; }

/* - Item - Hover - */
@media (min-width: 769px) {
    .x-initiated .x-item:hover > a img { opacity: 1; }
}

/* - Item - Is Active - */
.x-initiated .x-item.x-is-active:after { border-bottom: none; border-left: 20px solid transparent; border-right: 20px solid transparent; }

.x-initiated .x-item.x-is-active[data-group="1"]:after,
.x-initiated .x-item.x-is-active[data-group="3"]:after,
.x-initiated .x-item.x-is-active[data-group="5"]:after,
.x-initiated .x-item.x-is-active[data-group="7"]:after { left: calc(25% - 20px); }


.x-initiated .x-item.x-is-active[data-group="2"]:after,
.x-initiated .x-item.x-is-active[data-group="6"]:after,
.x-initiated .x-item.x-is-active[data-group="4"]:after,
.x-initiated .x-item.x-is-active[data-group="8"]:after { left: calc(75% - 20px); }

.x-initiated .x-item.x-yellow.x-is-active:after { border-top: 20px solid #FDD454; }
.x-initiated .x-item.x-white.x-is-active:after { border-top: 20px solid #f5f5f5; }
.x-initiated .x-item.x-black.x-is-active:after { border-top: 20px solid #191919; }

@media (min-width: 576px) {
    .x-initiated .x-item[data-group="2"] > a img,
    .x-initiated .x-item[data-group="6"] > a img { float: right; }
    .x-initiated .x-item[data-group="4"] > a img,
    .x-initiated .x-item[data-group="8"] > a img { float: left; }
    
    .x-initiated .x-item[data-group="2"] .x-thumbnail-content,
    .x-initiated .x-item[data-group="6"] .x-thumbnail-content { left: 0; }

    .x-initiated .x-item.x-is-active[data-group="2"]:after,
    .x-initiated .x-item.x-is-active[data-group="6"]:after { left: calc(25% - 20px); }
}

/* ---------------------------------------------------------------- */

/* ||||||||||||| PLACEHOLDER ||||||||||||| */
/* ====== Placeholder ====== */
.x-placeholder { z-index: -2; background: #cccccc; }

/* ====== Placeholder Contents - Defaults ====== */
/* - Info - */
.x-placeholder.x-is-expanded .x-info { color: #191919; }
.x-placeholder.x-is-expanded .x-info h3 { font-family: 'Amatic SC', cursive; font-size: 60px; margin: 0; }
.x-placeholder.x-is-expanded .x-info p { font-weight: 300; font-size: 16px; }

/* ---------------------------------------------------------------- */
