/* ||||||||||||| MAIN ||||||||||||| */
/* ====== Font ====== */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
/* ====== Wrapper ====== */
.xpanda { font-family: 'Nunito Sans', sans-serif; }

/* ====== Item ====== */
.x-item { background: #e3dcd7; }

/* ====== Item - Javascript Enabled ====== */
.x-initiated .x-item > a img { filter: saturate(0.6); }

/* - Item - Hover - */
@media (min-width: 769px) {
	.x-initiated .x-item:hover > a img { opacity: 0.4; }
}

/* - Item - Is Active - */
.x-initiated .x-item.x-is-active > a img { opacity: 1; }
.x-initiated .x-item.x-is-active:after { bottom: 0; border-left: none; border-right: none; border-bottom: 6px solid #a67f4e; left: 0; width: 100%; }

/* - Item - Is Not Active - */
.x-initiated .x-item.x-is-not-active > a img { opacity: 0.1; }

/* - Item - Is Not Active - Hover -*/
@media (min-width: 769px) {
	.x-initiated .x-item.x-is-not-active:hover > a img { opacity: 0.6; }
}

/* ---------------------------------------------------------------- */

/* ||||||||||||| SPACER ||||||||||||| */
/* ====== Spacer (Outside) - Javascript Enabled ====== */
.x-spacer-outside { position: relative; height: 100px; background: #282724; }
/* ====== Spacer (Inline) - Javascript Enabled ====== */
.x-spacer-inside { position: relative; background: #282724; }
.x-button { font-family: 'Roboto Slab', serif; font-weight: 700; position: absolute; top: 50%; left: 50%; text-decoration: none; color: #a67f4e; display: inline-block; opacity: 1;
	-moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* - Button - Hover - */
@media (min-width: 769px) {
	.x-button:hover { opacity: 0.8; }
}

/* ---------------------------------------------------------------- */

/* ||||||||||||| PLACEHOLDER ||||||||||||| */
.x-placeholder { background: #ffffff; width: 100%; float: left; }
@media (min-width: 992px) {
	.x-placeholder.x-is-expanded { display: block; }
}
/* ====== Placeholder Contents ====== */
/* - Info - */
.x-placeholder.x-is-expanded .x-info.x-info-center { width: 100%; margin: auto; padding: 0; float: left; }
@media (min-width: 768px) {
    .x-placeholder.x-is-expanded .x-info.x-info-center { padding: 0; }
}
.x-placeholder.x-is-expanded .x-info .x-info-content { position: relative; }
.x-placeholder.x-is-expanded .x-info .x-info-content h3 { font-family: 'Roboto Slab', serif; font-weight: 700; font-size: 34px; margin-bottom: 0; margin-top: 0; color: #a67f4e; letter-spacing: 1px; background: #383734; padding: 60px 20px 0 20px; width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.x-placeholder.x-is-expanded .x-info .x-info-content small { font-weight: 300; font-size: 10px; display: block; text-transform: uppercase; letter-spacing: 2px; color: #a67f4e; background: #383734; padding: 10px 0 20px 20px; width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.x-placeholder.x-is-expanded .x-info .x-info-content img { width: 100%; height: auto; display: block; filter: saturate(0.6); float: left; }
.x-placeholder.x-is-expanded .x-info .x-info-content p { font-weight: 200; font-size: 18px; line-height: 1.3em; color: #383734; width: 100%; padding: 20px; margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.x-placeholder.x-is-expanded .x-info .x-info-content a { color: #a67f4e; }
.x-placeholder.x-is-expanded .x-info .x-info-content a:hover { text-decoration: none; }
/* - Info - Social Links */
.x-placeholder.x-is-expanded .x-info ul.social-links { margin: 0; padding: 0; list-style: none; float: left; width: 100%; }
.x-placeholder.x-is-expanded .x-info ul.social-links li { float: left; width: 25%; }
.x-placeholder.x-is-expanded .x-info ul.social-links li a { position: relative; text-decoration: none; text-align: center; color: #ffffff; background: #a67f4e; width: 100%; float: left; font-size: 22px; display: block; padding: 50% 0; border-right: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.x-placeholder.x-is-expanded .x-info ul.social-links li a i { position: absolute;
	-moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.x-placeholder.x-is-expanded .x-info .x-info-content p { width: 100%; float: left; }
@media (min-width: 576px) {
	.x-placeholder.x-is-expanded .x-info .x-info-content img { width: 50%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links { width: 50%; }
	.x-placeholder.x-is-expanded .x-info .x-info-content p { width: 50%; }
}
@media (min-width: 768px) {
	.x-placeholder.x-is-expanded .x-info .x-info-content img { width: 40%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links { width: 10%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links li { width: 100%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links li a { border-right: none; border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: calc(50% - 1px) 0 50% 0; }
}
@media (min-width: 992px) {
	.x-placeholder.x-is-expanded .x-info .x-info-content img { width: 33.3333%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links { width: 8.3333%; }
	.x-placeholder.x-is-expanded .x-info .x-info-content p { width: 58.3333%; }
}
@media (min-width: 1200px) {
	.x-placeholder.x-is-expanded .x-info .x-info-content img { width: 16.6666%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links { width: 16.6666%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links li { width: 50%; }
	.x-placeholder.x-is-expanded .x-info ul.social-links li a { border-right: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: calc(50% - 1px) 0 50% 0; }
	.x-placeholder.x-is-expanded .x-info .x-info-content p { width: 66.6666%; }
}

/* ====== Placeholder Controls ====== */
/* - Control - Previous - */
.x-placeholder .x-prev { position: relative; float: left; top: auto; height: 80px; background-color: #383734; width: 50%; border-right: 1px solid rgba(255, 255, 255, 0.1); background-size: 10px;
	background-image: url("../assets/arrow-left-gold.svg");
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* - Control - Next - */
.x-placeholder .x-next { position: relative; float: left; right: auto; background-color: #383734; width: 50%; height: 80px; background-size: 10px;
	background-image: url("../assets/arrow-right-gold.svg");
}
/* - Control - Close - */
.x-placeholder .x-close { width: 60px; height: 60px; position: absolute; background-size: 16px;
	background-image: url("../assets/close-gold.svg");
	background-color: transparent;
}






