/* ||||||||||||| MAIN ||||||||||||| */
/* ====== Wrapper ====== */
.xpanda { }

/* ====== Item - Defaults ====== */
.x-item { }
.x-item > a { }
.x-item > a img { }
/* ====== Item - Javascript Enabled ====== */
.x-initiated .x-item { }
.x-initiated .x-item > a img { }

/* - Item - Hover - */
@media (min-width: 769px) {
    .x-initiated .x-item:hover > a img { }
}

/* - Item - Is Active - */
.x-initiated .x-item.x-is-active > a img { }
.x-initiated .x-item.x-is-active:after { }

/* - Item - Is Not Active - */
.x-initiated .x-item.x-is-not-active { }

/* - Item - Lazyloader Enabled - */
.x-initiated.x-lazyload-thumbnail .x-item > a:before { }
.x-initiated.x-lazyload-thumbnail .x-item.x-is-loaded > a:before { }

/* ====== Item Content ====== */
.x-item .x-content { }

/* ---------------------------------------------------------------- */

/* ||||||||||||| SPACER ||||||||||||| */
/* ====== Spacer (Outside) - Javascript Disabled ====== */
.x-spacer-outside { }
/* ====== Spacer (Outside) - Javascript Enabled ====== */
.x-spacer-outside.x-initiated { }

/* ====== Spacer (Inline) - Javascript Enabled ====== */
.x-spacer-inside { }
/* - Spacer (Inline) - Is Empty - */
.x-spacer-inside.x-spacer-empty { }

/* ---------------------------------------------------------------- */

/* ||||||||||||| PLACEHOLDER ||||||||||||| */
/* ====== Placeholder ====== */
.x-placeholder { }
/* - Placeholder - Is Expanded - */
.x-placeholder.x-is-expanded {}
@media (min-width: 992px) {
    .x-placeholder.x-is-expanded { }
}

/* ====== Placeholder Contents - Defaults ====== */
/* - Asset - Default */
.x-placeholder.x-is-expanded .x-asset { }
.x-placeholder.x-is-expanded .x-asset.x-asset-left { }
.x-placeholder.x-is-expanded .x-asset.x-asset-right { }
.x-placeholder.x-is-expanded .x-asset img { }
@media (min-width: 992px) {
    .x-placeholder.x-is-expanded .x-asset.x-asset-left { }
    .x-placeholder.x-is-expanded .x-asset.x-asset-right { }
    .x-placeholder.x-is-expanded .x-asset.x-asset-center { }
}
@media (min-width: 1200px) {
    .x-placeholder.x-is-expanded .x-asset.x-asset-center { }
}
@media (min-width: 1400px) {
    .x-placeholder.x-is-expanded .x-asset.x-asset-center { }
}
/* - Asset - Lazyloader Enabled */
.x-initiated.x-lazyload-asset .x-placeholder.x-is-expanded .x-asset:before { }
.x-initiated.x-lazyload-asset .x-placeholder.x-is-expanded .x-asset.x-is-loaded:before { }
.x-initiated.x-lazyload-asset .x-placeholder.x-is-expanded .x-asset.x-was-loaded:before { }

/* - Info - */
.x-placeholder.x-is-expanded .x-info { }
.x-placeholder.x-is-expanded .x-info img { }
.x-placeholder.x-is-expanded .x-info.x-info-left { }
.x-placeholder.x-is-expanded .x-info.x-info-right { }
.x-placeholder.x-is-expanded .x-info.x-info-center { }
@media (min-width: 768px) {
    .x-placeholder.x-is-expanded .x-info.x-info-center { }
}
@media (min-width: 992px) {
    .x-placeholder.x-is-expanded .x-info.x-info-left { }
    .x-placeholder.x-is-expanded .x-info.x-info-right { }
}

/* ====== Placeholder Controls ====== */
/* - Control - Previous - */
.x-placeholder .x-prev { }
/* - Control - Next - */
.x-placeholder .x-next { }
/* - Control - Close - */
.x-placeholder .x-close { }
@media (min-width: 768px) {
    /* - Control - Previous - */
    .x-placeholder .x-prev { }
    /* - Control - Next - */
    .x-placeholder .x-next { }
    /* - Control - Close - */
    .x-placeholder .x-close { }
}
/* - Control Arrow Disabled - */
.x-arrow-disabled { }

/* ---------------------------------------------------------------- */
